body{
    margin: 0;
    padding: 0;
     

}
ul{
    padding: 0;
    margin: auto;
    color: rgb(120, 164, 245);
    text-align: center;
    
    
    }

    ul hover{
        color:black;
    }
    
.oogo{
    float: left;
    
    
    h1{
      padding: 0;
      margin: 0;
      text-align: center;
      position: absolute;

  }
  
  .lij{
      font-size: larger;
  }
  
  .ojl {
      color:dodgerblue;
    
  }

 